  <h2>写真をアップロード</h2>
  <%= form_for(@pictures, url: choose_new_or_edit) do |f| %>
    <% if @pictures.errors.any? %>
      <div id="error_explanation">
        <h2><%= @pictures.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @pictures.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text :comment %>
    <br>
    <%= f.submit 'アップロード', class: 'btn btn-primary btn-block' %>
  <% end %>