  <h2>写真をアップロード</h2>
  <%= form_for(@pictures, url: choose_new_or_edit) do |f| %>
    <% if @pictures.errors.any? %>
      <div id="error_explanation">
        <h2><%= @pictures.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @pictures.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </br>
    <div id="filechose">
      <%= image_tag @pictures.image.url if @pictures.image? %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %>
    </div>
    </br>
    <%= f.label :コメント： %>
    <%= f.text_field :comment %>
    </br>
    </br>
    <%= f.submit 'アップロード', class: 'btn btn-primary btn-block' %>
  <% end %>
