<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 content">

  <h3>以下の内容でアップロード</h3>

  <%= form_for(@pictures) do |f| %>
    <%= f.hidden_field :comment %>
    <h3><%= @pictures.content %></h3>
    <%= f.submit "アップロード",class: 'btn btn-primary btn-block' %>
  <% end %>

  <%= form_for(@pictures, url: new_picture_path, method: 'get') do |f| %>
    <%= f.hidden_field :comment %>
    <%= f.submit "もどる", name: 'back',class: 'btn btn-default btn-block' %>
  <% end %>
  </div>
</div>
  